@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Nova+Slim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


* {
    padding: 0;
    margin: 0;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
@keyframes btnSlideInFromRight {
0% {
    transform: translateX(700%);
}
100% {
    transform: translateX(0);
}
}
@keyframes slideOutFromLeft {
0% {
    transform: translateX(0%);
}
100% {
    transform: translateX(100%);
}
}
@keyframes btnSlideOutFromLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes slideOutFromBottom{
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes liSlideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes liSlideOutToRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes liSlideOutToLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

@keyframes bounce {
    0% {
      transform: translateY(0%);
    }
    25% {
      transform: translateY(-20);
    }
    50% {
      transform: translateY(0%);
    }
    75% {
      transform: translateY(-20%);
    }
  
    100% {
      transform: translateY(0%);
    }
}
body, html {
    background-color: #1b2e25;
    font-family: 'Encode Sans', sans-serif;
    scroll-behavior: smooth;

}

 
  .nav a {
    display: inline-block;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
}

.two:hover ~ hr {
    margin-left: 18%;
}

.three:hover ~ hr {
    margin-left: 37%;
    width: 25%;
}

.four:hover ~ hr {
    margin-left: 66%;
}
.five:hover ~ hr {
    margin-left: 84%;
}
hr {
    height: .25rem;
    width: 16%;
    margin: 0;
    background: yellow;
    border: none;
    transition: .3s ease-in-out;
  }

.nav-links-phone {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    background-color: #34734c;
    border-bottom: 3px double;
    border-color: rgb(255, 255, 255);
    z-index: 100;

}

nav a {
    color:rgb(255, 255, 255);
    text-decoration: none;  
    z-index: 100;

}

.nav-links a{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.nav-name {
    font-family: 'Pacifico', cursive;
    color:white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.nav-name img {
    width: 10rem;
    margin-bottom: -2.5rem;
}


#show-map {
    position: absolute;
    top: 23rem;
    right: 2px;
    color: #ffd900;
    background-color: rgba(65, 121, 12, 0.864);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border-style: outset;
    border-color: rgb(242, 178, 41);
    font-weight: 1000;
    font-size: 2rem;
    text-align: center;
}

#show-map:hover {
    transition-duration: 200ms;
    background-color:rgba(242, 178, 41, 0.529);
    cursor: pointer;
}

#hide-map {
        position: absolute;
        top: 23rem;
        right: 28rem;
        color: #ffd900;
        background-color: rgba(65, 121, 12, 0.864);
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        border-style: outset;
        border-color: rgb(242, 178, 41);
        font-weight: 1000;
        font-size: 2rem;
        text-align: center;
        visibility: hidden;
        
}

#hide-map:hover {
    background-color:rgb(242, 178, 41);
    cursor: pointer;
}

#map {
    position: absolute;
    top:4rem;
    right: 0;
    width: 30rem;
    height: 44.9rem;
    visibility: hidden;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(55, 101, 128);
    background-image: url('img/inneTvå.jpg');
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    color:white;
}

.welcome-container {
    width: 50rem;
    background-color: rgba(29, 11, 11, 0.349);
    padding: 6rem 0rem;
    border-radius: 50%;
    z-index: 1;
}

.welcome-container h2 {
    color: yellow;
    font-family: 'Amatic SC', cursive;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 2.3rem;
    padding: 1rem;
}

.welcome-container h1 {
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 5rem;
    padding: 1rem;
    font-family: 'Pacifico', cursive;
}

#slogan {
    font-size: 1.2rem;
    font-weight: 1000;
}

.welcome-container p {
    padding: 1rem;
    font-size: 1rem;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.logo-name-container{
    display: flex;
    justify-content: center;
}

.green {
    color: #37b467;
}

.red {
    color: #da4840;
}

.big-number {
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    
}

#order {
    background-color:yellow; 
    border-style: solid;
    border-color: rgba(253, 255, 254, 0.659);
    border-width: 0.1rem;
    padding: 0.8rem 1rem;
    text-decoration: none;
    margin-right: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 1.2rem;
    border-radius: 1rem;
}
#order:hover {
    background-color: rgb(242, 178, 41);
    cursor: pointer;
}

#meny {
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: rgba(253, 255, 254, 0.659);
    border-width: 0.1rem;
    padding: 0.8rem 1rem;
    text-decoration: none;
    margin-left: 2rem;
    color: white;
    font-weight: 1000;
    border-radius: 1rem;
}


.info-container {
    background-color: #34734c;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 2px solid;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);

    padding: 10px;
}

.info-whiter {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}

.info-grey {
    font-size:1rem;
    color:rgba(255, 255, 255, 0.775);
}

.info-highlight {
    color: white;
    font-size: 1.3rem;
}

.lunch-paket-pizzor {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

#our-menu {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    
}

.dagens {
    background-color: #34734c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    color: white;
    border-style: dashed;
    border-width: 2px;
    border-color: rgba(255, 255, 0, 0.789);
    width: 30rem;
    margin: auto;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.dagens h5 {
    padding: 0.5rem;
    color: yellow;
}

#dagens-dagens {
    font-size: 1.3rem;
}
#dagens-tider {
    font-size: 1rem;
}
.dagens p {
    padding: 0.3rem;
}


.menyer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1b2e25;
    color: rgb(255, 255, 255);
    background-size: cover;
    border-top-style: solid;
    border-width: 0.1px;
    border-color: rgba(255, 255, 255, 0.556);
box-shadow: 0px -16px 26px 11px #f3e40e0e;
}

#our-menu {
    background-color: #B8544F;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.658);
    text-shadow: 3px 3px 6px rgb(0, 0, 0);

}

.high__res__container1,
.high__res__container2,
.high__res__container3,
.high__res__container4,
.high__res__container5,
.high__res__container6,
.high__res__container7,
.high__res__container8,
.high__res__container9,
.high__res__container10{
    display: flex;
    font-weight: 500;
    /*text-shadow: 2px 2px 2px rgb(0, 0, 0);*/
    font-size: 1.3rem;
    border-top-style: dotted;
    border-width: 1px;
    border-color: rgba(255, 255, 0, 0.124);
    border-style: dashed;
    margin: 2vw;
    margin-top: 1rem;
    filter: opacity(80%);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.sallad-notera {
    font-size: 1rem;
    padding: 0.5rem;
    color:rgb(92, 226, 119)
}

.pris-1 li,
.pris-2 li,
.pris-3 li,
.pris-4 li,
#mexikanMenyEtt li,
#amerikanMenyEtt li,
#salladMenyEtt li,
#pastaMenyEtt li,
#kebabMenyEtt li,
#inbakadeMenyEtt li,
#halvInbakadeMenyEtt li,
#hamburgare li,
#wings li {
    padding-left: 1rem;
    padding-top: 0.4rem;
    padding-right: 0.3rem;
}


li {
    list-style-type: none;
    padding-bottom: 0.5rem;
}

.meny__header__pizza {
    color:#000000;
    display: flex;
    background-color: yellow;
    border-color:rgba(0, 0, 0, 0.782);
    border-style: none;
    padding: 0.2rem;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 2.4rem;
    font-weight: 100;
    text-transform: uppercase;
}
.meny__header__mexikan,
.meny__header__amerikan,
.meny__header__sallad,
.meny__header__pasta,
.meny__header__kebab,
.meny__header__inbakade,
.meny__header__halvInbakade,
.meny__header__hamburgare,
.meny__header__wings {
    color:#000000;
    display: flex;
    background-color: yellow;
    border-color:rgba(0, 0, 0, 0.782);
    border-style: none;
    padding: 0.2rem;
    justify-content: center;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 2.4rem;
    font-weight: 100;
    text-transform: uppercase;
}



.ing {
    color: yellow;
    margin-left: 1rem;
    margin-top: -0.5rem;
    filter: opacity(70%);
    font-size: 1rem; 
}

#nav-phone-show,
#nav-phone-hide-new,
#nav-links-phone {
    display: none;
    visibility: hidden;
}


#big-map {
    width: 100%;
    height: 15rem;
}

footer {
    display: flex;
    background-color: #34734c;
    color: #fff;
    height: 4rem;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    color: #fff;
    background-color: #43b480;
    padding: 0.5rem;
    border-radius: 2rem;
}

#footer-copyright {
    color: rgba(255, 255, 255, 0.582);
}

#footer-faded {
    color: rgba(255, 255, 255, 0.253);
    font-size: 0.6rem;
}

@media screen and (max-width: 1445px){
.high__res__container1
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.menyer {
    text-align: center;
}



}

@media screen and (max-width: 820px) {

    nav {
    z-index: 100;
    }
    .nav-links-phone {
        display: block;
    }
    .nav-links {
        display: none;
    }

    #nav-links-phone {
        position: absolute;
        border-bottom-style: none;
        border-color: white;
        z-index: 1000;
        width: 20rem;
        background-color: rgb(252, 87, 87);
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        margin-left: -4rem;
        padding-top: 0.5rem;
        text-shadow: 1px 1px 4px rgb(0, 0, 0);
        visibility: hidden;
        border-bottom-right-radius: 2rem;
    }
    
    #nav-links-phone ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.6rem;

    }
    
    #nav-links-phone ul li {
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
        padding: 0.5rem;
    }

   #nav-phone-hide {
        width: 100vw;
        height: 2rem;
        background-color: rgba(250, 250, 250, 0);
        border-style: none;
   }

   #nav-phone-hide-new {
       background-color: rgba(138, 83, 81, 0.994);
       padding: 1rem;
       padding-bottom: 6px;
       border-radius: 2rem;
       border-style: none;
       display: none;
       cursor: pointer;
    }
 
   #nav-phone-show {
    background-color: rgba(81, 138, 81, 0.994);
    padding: 1rem;
    padding-bottom: 6px;
    border-radius: 2rem;
    border-style: none;
    cursor: pointer;

   }

   #show-svg {
    filter: brightness(0) invert(1);   }

   #phone-one,
   #phone-two,
   #phone-three,
   #phone-four {
       display: block;
   }

    .welcome-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(55, 101, 128);
        background-image: url('img/inneTvå.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 45rem;
        color:white;
    }
    
    .welcome-container {
        width: 90vw;
        
        background-color: rgba(29, 11, 11, 0.349);
        padding: 8vw 0rem;
        border-radius: 50%;
        z-index: 1;
    }
    
    .welcome-container h2 {
        color: yellow;
        font-family: 'Amatic SC', cursive;
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
        font-size: 2rem;
        padding: 1rem;
    }
    
    .welcome-container h1 {
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
        font-size: 3rem;
        padding: 1rem;
        font-family: 'Pacifico', cursive;
    }
    
    #slogan {
        font-size: 1rem;
        font-weight: 1000;
    }
    
    .welcome-container p {
        padding: 1rem;
        font-size: 0.8rem;
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
    }
    
    .logo-name-container{
        display: flex;
        justify-content: center;
    }
    
    .green {
        color: #37b467;
    }
    
    .red {
        color: #da4840;
    }
    
    .big-number {
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
        font-size: 3rem;
        font-family: 'Pacifico', cursive;
        
    }

    .dagens {
        background-color: rgba(8, 114, 20, 0.199);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
        color: white;
        border-style: dashed;
        border-width: 2px;
        border-color: rgba(255, 255, 0, 0.789);
        width: 90vw;
        margin: auto;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .high__res__container1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .menyer {
       text-align: center;
       
    }


    .info-container {
        background-color: #34734c;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
        height: 13rem;
        text-align: center;
        border-top: 1px solid;
        border-bottom: 2px solid;
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
        padding: 10px;
    }

    .number {
        padding-bottom: 0.5rem;
        border-bottom-style: solid;
    }

    .tider {
        border-top-style: solid;
        padding-top: 0.5rem;
    }

    .tider,
    .number {
        border-width: 0.2px;
        border-color: rgba(6, 77, 9, 0.782);
    }

    .tider,
    .info-highlight,
    .info-whiter {
        font-size: 1.7rem;
    }
    .info-grey {
        font-size: 1.3rem;
    }

    #our-menu {
        font-size: 1.8rem;
    }


.meny__header__pizza {
    justify-content: center;
}
.high__res__container1,
.high__res__container2,
.high__res__container3,
.high__res__container4,
.high__res__container5,
.high__res__container6,
.high__res__container7,
.high__res__container8,
.high__res__container9,
.high__res__container10{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;

}

#nav-phone-show
{
    visibility: visible;
    display: block;
}

  }